[%

color_bengtsfors_deepblue = '#327395'
color_black = '#000000'
color_white = '#FFFFFF'
color_bengtsfors_lightblue = '#E0EDF3'

body_background_color = color_white
body_text_color = color_black

header_background_color = color_bengtsfors_deepblue
header_text_color = color_white

secondary_column_background_color = color_bengtsfors_lightblue

button_background_color = color_bengtsfors_deepblue
button_text_color = color_white

logo_file = 'logo.gif'
logo_width = "175" # pixel measurement, but without 'px' suffix
logo_height = "40" # pixel measurement, but without 'px' suffix
header_padding = "20px 30px"

%]
